# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]
*$py.class

# Carpeta de entorno virtual
env/

# Archivos de registro
*.log

# Archivos de configuración local
*.ini
*.cfg

# Archivos de caché
*.swp
*.swo
*.DS_Store